{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="Customername">CustomerName:</label>
        {{ form_widget(form.Customername,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Customer name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="Customermail">CustomerEmail:</label>
        {{ form_widget(form.Customermail,{
            'attr':{
                'class':'form-control',
                'placeholder': 'CustomerEmail'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="Customerphone">PhoneNumber:</label>
        {{ form_widget(form.Customerphone,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Phonenumber'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="Customeraddress">Address:</label>
        {{ form_widget(form.Customeraddress,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Address'
            }
        }) }}
    </div>
    <input type="submit" name="edit_car" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
