{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ customer.id }}</th>
                    <td>{{ customer.Customername }}</td>
                    <td>{{ customer.Customermail }}</td>
                    <td>{{ customer.Customerphone }}</td>
                    <td>{{ customer.Customeraddress }}</td>
                    <td>
                        <a href="{{ path('customer_details' , {'id' : customer.id}) }}" class='btn btn-success'>View</a>
                        <a href="{{ path('customer_edit' , {'id' : customer.id}) }}" class='btn btn-default'>Edit</a>
                        <a href="{{ path('customer_delete' , {'id' : customer.id}) }}" class='btn btn-danger'>Delete</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('customer_create') }}"class="btn btn-primary" >Create</a></li>
        </ul>
    </div><!--/.nav-collapse -->
{% endblock %}
